### Gradle
sm-ui/backend/society-management/.gradle/
sm-ui/backend/society-management/build/

### Java
sm-ui/backend/society-management/*.class
sm-ui/backend/society-management/*.log

### Intellij
sm-ui/backend/*.iml
sm-ui/backend/.idea/workspace.xml
sm-ui/backend/.idea/tasks.xml
sm-ui/backend/.idea/gradle.xml
sm-ui/backend/.idea/libraries
